.idea
.DS_Store
/mysql/data/*
__pycache__
!/source/.gitignore
.pytest_cache
.env
config.py
memo.txt
hello.py

source.tgz

node_modules

source/slim/*
# source/react/public/bundle.js
# source/react/public/bundle.css
